<header>
	<div class="container">
		<nav>
			<a href="/">{{ site.name }}</a>
			<a href="/">Home</a>
			<a href="/villagers/">Villagers</a>
			<a href="/crops/">Crops</a>
			<a href="/fish/">Fish</a>
			<a href="/buildings/">Buildings</a>
		</nav>
	</div>
</header>