---
layout: base.liquid
title: Home
description: Quick Stardew Valley reference site
---

<section class="container">
	<h1>Stardew Tips</h1>
	<p>A simple reference site for Stardew Valley.</p>

	<section>
		<h2>Current sections</h2>
		<ul>
			<li><a href="/villagers/">Villagers</a></li>
			<li><a href="/crops/">Crops</a></li>
			<li><a href="/fish/">Fish</a></li>
			<li><a href="/buildings/">Buildings</a></li>
		</ul>
	</section>

	<section>
		<h2>Site info</h2>
		<p>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
		<p><a href="{{ site.sourceCodeUrl }}">Source Code</a></p>
	</section>
</section>